@import "normalize"

normalize-html5()
normalize-base()
normalize-links()
normalize-typography()
normalize-lists()
normalize-embed()
normalize-figures()

$ratio ?= 1.61803398875

body
  padding-top 50px
  font-family "Benton Sans", "Avenir Next", helvetica, sans-serif

.container
  max-width ($ratio ** 8)em
  margin 0 auto
  padding 0 1em

a
  color #f00

  @media print
    &::before
      content "["

    &::after
      content: "](" attr(href) ")"

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 400
  font-family "Benton Sans Compressed", "Avenir Next Condensed", helvetica, sans-serif

h1
  font-size ($ratio ** 2)em

  &:not(:first-child)
    page-break-before always

h1
*:not(h1) + h2
  margin ($ratio ** 2)em 0 ($ratio ** -1)em

h2
  font-size ($ratio)em

img
  display block
  max-width 100%
  height auto

blockquote
  font-size ($ratio)em

code
  background #eee
  padding 0 ($ratio ** -3)em

pre
  background #eee
  padding ($ratio)em

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #555;
}

nav ul {
  margin: 0;
  padding: 0 0.5em;

  width: 320px;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #333;
}

nav ul.nav-active {
  height: auto;
}

nav a {
  color: #fff;
}
.toggle-menu {
  background: none;
  border: none;
}
.toggle-menu .bar {
  display: block;
  width: 1.5em;
  height: 0.273em;
  margin: 0.273em;
  background: #fff;
}
.sr-only {
  display: none;
}

.table-of-contents
  @media print
    display none
